.flagset2{vertical-align:middle;display:inline-block;position:relative;width:16px;height:16px;background:url('./../images/flagset2.png') no-repeat;}
.flagset2.flag-00{background-position:0px 0px;}
.flagset2.flag-ad{background-position:-16px 0px;}
.flagset2.flag-ae{background-position:-32px 0px;}
.flagset2.flag-af{background-position:-48px 0px;}
.flagset2.flag-ag{background-position:-64px 0px;}
.flagset2.flag-ai{background-position:-80px 0px;}
.flagset2.flag-al{background-position:-96px 0px;}
.flagset2.flag-am{background-position:-112px 0px;}
.flagset2.flag-an{background-position:-128px 0px;}
.flagset2.flag-ao{background-position:-144px 0px;}
.flagset2.flag-aq{background-position:-160px 0px;}
.flagset2.flag-ar{background-position:-176px 0px;}
.flagset2.flag-as{background-position:-192px 0px;}
.flagset2.flag-at{background-position:-208px 0px;}
.flagset2.flag-hm,
.flagset2.flag-au{background-position:-224px 0px;}
.flagset2.flag-aw{background-position:-240px 0px;}
.flagset2.flag-ax{background-position:0px -16px;}
.flagset2.flag-az{background-position:-16px -16px;}
.flagset2.flag-ba{background-position:-32px -16px;}
.flagset2.flag-bb{background-position:-48px -16px;}
.flagset2.flag-bd{background-position:-64px -16px;}
.flagset2.flag-be{background-position:-80px -16px;}
.flagset2.flag-bf{background-position:-96px -16px;}
.flagset2.flag-bg{background-position:-112px -16px;}
.flagset2.flag-bh{background-position:-128px -16px;}
.flagset2.flag-bi{background-position:-144px -16px;}
.flagset2.flag-bj{background-position:-160px -16px;}
.flagset2.flag-bl{background-position:-176px -16px;}
.flagset2.flag-bm{background-position:-192px -16px;}
.flagset2.flag-bn{background-position:-208px -16px;}
.flagset2.flag-bo{background-position:-224px -16px;}
.flagset2.flag-br{background-position:-240px -16px;}
.flagset2.flag-bs{background-position:0px -32px;}
.flagset2.flag-bt{background-position:-16px -32px;}
.flagset2.flag-bw{background-position:-32px -32px;}
.flagset2.flag-by{background-position:-48px -32px;}
.flagset2.flag-bz{background-position:-64px -32px;}
.flagset2.flag-ca{background-position:-80px -32px;}
.flagset2.flag-cc{background-position:-96px -32px;}
.flagset2.flag-cd{background-position:-112px -32px;}
.flagset2.flag-cf{background-position:-128px -32px;}
.flagset2.flag-cg{background-position:-144px -32px;}
.flagset2.flag-ch{background-position:-160px -32px;}
.flagset2.flag-ci{background-position:-176px -32px;}
.flagset2.flag-ck{background-position:-192px -32px;}
.flagset2.flag-cl{background-position:-208px -32px;}
.flagset2.flag-cm{background-position:-224px -32px;}
.flagset2.flag-cn{background-position:-240px -32px;}
.flagset2.flag-co{background-position:0px -48px;}
.flagset2.flag-cr{background-position:-16px -48px;}
.flagset2.flag-cs{background-position:-32px -48px;}
.flagset2.flag-cu{background-position:-48px -48px;}
.flagset2.flag-cv{background-position:-64px -48px;}
.flagset2.flag-cw{background-position:-80px -48px;}
.flagset2.flag-cx{background-position:-96px -48px;}
.flagset2.flag-cy{background-position:-112px -48px;}
.flagset2.flag-cz{background-position:-128px -48px;}
.flagset2.flag-de{background-position:-144px -48px;}
.flagset2.flag-dj{background-position:-160px -48px;}
.flagset2.flag-dk{background-position:-176px -48px;}
.flagset2.flag-dm{background-position:-192px -48px;}
.flagset2.flag-do{background-position:-208px -48px;}
.flagset2.flag-dz{background-position:-224px -48px;}
.flagset2.flag-ec{background-position:-240px -48px;}
.flagset2.flag-ee{background-position:0px -64px;}
.flagset2.flag-eg{background-position:-16px -64px;}
.flagset2.flag-eh{background-position:-32px -64px;}
.flagset2.flag-er{background-position:-48px -64px;}
.flagset2.flag-es{background-position:-64px -64px;}
.flagset2.flag-et{background-position:-80px -64px;}
.flagset2.flag-eu{background-position:-96px -64px;}
.flagset2.flag-fi{background-position:-112px -64px;}
.flagset2.flag-fj{background-position:-128px -64px;}
.flagset2.flag-fk{background-position:-144px -64px;}
.flagset2.flag-fm{background-position:-160px -64px;}
.flagset2.flag-fo{background-position:-176px -64px;}
.flagset2.flag-re,
.flagset2.flag-pm,
.flagset2.flag-gf,
.flagset2.flag-fr{background-position:-192px -64px;}
.flagset2.flag-ga{background-position:-208px -64px;}
.flagset2.flag-io,
.flagset2.flag-gb{background-position:-224px -64px;}
.flagset2.flag-gd{background-position:-240px -64px;}
.flagset2.flag-ge{background-position:0px -80px;}
.flagset2.flag-gg{background-position:-16px -80px;}
.flagset2.flag-gh{background-position:-32px -80px;}
.flagset2.flag-gi{background-position:-48px -80px;}
.flagset2.flag-gl{background-position:-64px -80px;}
.flagset2.flag-gm{background-position:-80px -80px;}
.flagset2.flag-gn{background-position:-96px -80px;}
.flagset2.flag-gp{background-position:-112px -80px;}
.flagset2.flag-gq{background-position:-128px -80px;}
.flagset2.flag-gr{background-position:-144px -80px;}
.flagset2.flag-gs{background-position:-160px -80px;}
.flagset2.flag-gt{background-position:-176px -80px;}
.flagset2.flag-gu{background-position:-192px -80px;}
.flagset2.flag-gw{background-position:-208px -80px;}
.flagset2.flag-gy{background-position:-224px -80px;}
.flagset2.flag-hk{background-position:-240px -80px;}
.flagset2.flag-hn{background-position:0px -96px;}
.flagset2.flag-hr{background-position:-16px -96px;}
.flagset2.flag-ht{background-position:-32px -96px;}
.flagset2.flag-hu{background-position:-48px -96px;}
.flagset2.flag-ic{background-position:-64px -96px;}
.flagset2.flag-id{background-position:-80px -96px;}
.flagset2.flag-ie{background-position:-96px -96px;}
.flagset2.flag-il{background-position:-112px -96px;}
.flagset2.flag-im{background-position:-128px -96px;}
.flagset2.flag-in{background-position:-144px -96px;}
.flagset2.flag-iq{background-position:-160px -96px;}
.flagset2.flag-ir{background-position:-176px -96px;}
.flagset2.flag-is{background-position:-192px -96px;}
.flagset2.flag-it{background-position:-208px -96px;}
.flagset2.flag-je{background-position:-224px -96px;}
.flagset2.flag-jm{background-position:-240px -96px;}
.flagset2.flag-jo{background-position:0px -112px;}
.flagset2.flag-jp{background-position:-16px -112px;}
.flagset2.flag-ke{background-position:-32px -112px;}
.flagset2.flag-kg{background-position:-48px -112px;}
.flagset2.flag-kh{background-position:-64px -112px;}
.flagset2.flag-ki{background-position:-80px -112px;}
.flagset2.flag-km{background-position:-96px -112px;}
.flagset2.flag-kn{background-position:-112px -112px;}
.flagset2.flag-kp{background-position:-128px -112px;}
.flagset2.flag-kr{background-position:-144px -112px;}
.flagset2.flag-kw{background-position:-160px -112px;}
.flagset2.flag-ky{background-position:-176px -112px;}
.flagset2.flag-kz{background-position:-192px -112px;}
.flagset2.flag-la{background-position:-208px -112px;}
.flagset2.flag-lb{background-position:-224px -112px;}
.flagset2.flag-lc{background-position:-240px -112px;}
.flagset2.flag-li{background-position:0px -128px;}
.flagset2.flag-lk{background-position:-16px -128px;}
.flagset2.flag-lr{background-position:-32px -128px;}
.flagset2.flag-ls{background-position:-48px -128px;}
.flagset2.flag-lt{background-position:-64px -128px;}
.flagset2.flag-lu{background-position:-80px -128px;}
.flagset2.flag-lv{background-position:-96px -128px;}
.flagset2.flag-ly{background-position:-112px -128px;}
.flagset2.flag-ma{background-position:-128px -128px;}
.flagset2.flag-mc{background-position:-144px -128px;}
.flagset2.flag-md{background-position:-160px -128px;}
.flagset2.flag-me{background-position:-176px -128px;}
.flagset2.flag-mf{background-position:-192px -128px;}
.flagset2.flag-mg{background-position:-208px -128px;}
.flagset2.flag-mh{background-position:-224px -128px;}
.flagset2.flag-mk{background-position:-240px -128px;}
.flagset2.flag-ml{background-position:0px -144px;}
.flagset2.flag-mm{background-position:-16px -144px;}
.flagset2.flag-mn{background-position:-32px -144px;}
.flagset2.flag-mo{background-position:-48px -144px;}
.flagset2.flag-mp{background-position:-64px -144px;}
.flagset2.flag-mq{background-position:-80px -144px;}
.flagset2.flag-mr{background-position:-96px -144px;}
.flagset2.flag-ms{background-position:-112px -144px;}
.flagset2.flag-mt{background-position:-128px -144px;}
.flagset2.flag-mu{background-position:-144px -144px;}
.flagset2.flag-mv{background-position:-160px -144px;}
.flagset2.flag-mw{background-position:-176px -144px;}
.flagset2.flag-mx{background-position:-192px -144px;}
.flagset2.flag-my{background-position:-208px -144px;}
.flagset2.flag-mz{background-position:-224px -144px;}
.flagset2.flag-na{background-position:-240px -144px;}
.flagset2.flag-nc{background-position:0px -160px;}
.flagset2.flag-ne{background-position:-16px -160px;}
.flagset2.flag-nf{background-position:-32px -160px;}
.flagset2.flag-ng{background-position:-48px -160px;}
.flagset2.flag-ni{background-position:-64px -160px;}
.flagset2.flag-bq,
.flagset2.flag-nl{background-position:-80px -160px;}
.flagset2.flag-sj,
.flagset2.flag-bv,
.flagset2.flag-no{background-position:-96px -160px;}
.flagset2.flag-np{background-position:-112px -160px;}
.flagset2.flag-nr{background-position:-128px -160px;}
.flagset2.flag-nu{background-position:-144px -160px;}
.flagset2.flag-nz{background-position:-160px -160px;}
.flagset2.flag-om{background-position:-176px -160px;}
.flagset2.flag-pa{background-position:-192px -160px;}
.flagset2.flag-pe{background-position:-208px -160px;}
.flagset2.flag-pf{background-position:-224px -160px;}
.flagset2.flag-pg{background-position:-240px -160px;}
.flagset2.flag-ph{background-position:0px -176px;}
.flagset2.flag-pk{background-position:-16px -176px;}
.flagset2.flag-pl{background-position:-32px -176px;}
.flagset2.flag-pn{background-position:-48px -176px;}
.flagset2.flag-pr{background-position:-64px -176px;}
.flagset2.flag-ps{background-position:-80px -176px;}
.flagset2.flag-pt{background-position:-96px -176px;}
.flagset2.flag-pw{background-position:-112px -176px;}
.flagset2.flag-py{background-position:-128px -176px;}
.flagset2.flag-qa{background-position:-144px -176px;}
.flagset2.flag-ro{background-position:-160px -176px;}
.flagset2.flag-rs{background-position:-176px -176px;}
.flagset2.flag-ru{background-position:-192px -176px;}
.flagset2.flag-rw{background-position:-208px -176px;}
.flagset2.flag-sa{background-position:-224px -176px;}
.flagset2.flag-sb{background-position:-240px -176px;}
.flagset2.flag-sc{background-position:0px -192px;}
.flagset2.flag-sd{background-position:-16px -192px;}
.flagset2.flag-se{background-position:-32px -192px;}
.flagset2.flag-sg{background-position:-48px -192px;}
.flagset2.flag-sh{background-position:-64px -192px;}
.flagset2.flag-si{background-position:-80px -192px;}
.flagset2.flag-sk{background-position:-96px -192px;}
.flagset2.flag-sl{background-position:-112px -192px;}
.flagset2.flag-sm{background-position:-128px -192px;}
.flagset2.flag-sn{background-position:-144px -192px;}
.flagset2.flag-so{background-position:-160px -192px;}
.flagset2.flag-sr{background-position:-176px -192px;}
.flagset2.flag-ss{background-position:-192px -192px;}
.flagset2.flag-st{background-position:-208px -192px;}
.flagset2.flag-ussr,
.flagset2.flag-su{background-position:-224px -192px;}
.flagset2.flag-sv{background-position:-240px -192px;}
.flagset2.flag-sx{background-position:0px -208px;}
.flagset2.flag-sy{background-position:-16px -208px;}
.flagset2.flag-sz{background-position:-32px -208px;}
.flagset2.flag-tc{background-position:-48px -208px;}
.flagset2.flag-td{background-position:-64px -208px;}
.flagset2.flag-tf{background-position:-80px -208px;}
.flagset2.flag-tg{background-position:-96px -208px;}
.flagset2.flag-th{background-position:-112px -208px;}
.flagset2.flag-tj{background-position:-128px -208px;}
.flagset2.flag-tk{background-position:-144px -208px;}
.flagset2.flag-tl{background-position:-160px -208px;}
.flagset2.flag-tm{background-position:-176px -208px;}
.flagset2.flag-tn{background-position:-192px -208px;}
.flagset2.flag-to{background-position:-208px -208px;}
.flagset2.flag-tr{background-position:-224px -208px;}
.flagset2.flag-tt{background-position:-240px -208px;}
.flagset2.flag-tv{background-position:0px -224px;}
.flagset2.flag-tw{background-position:-16px -224px;}
.flagset2.flag-tz{background-position:-32px -224px;}
.flagset2.flag-ua{background-position:-48px -224px;}
.flagset2.flag-ug{background-position:-64px -224px;}
.flagset2.flag-um,
.flagset2.flag-us{background-position:-80px -224px;}
.flagset2.flag-uy{background-position:-96px -224px;}
.flagset2.flag-uz{background-position:-112px -224px;}
.flagset2.flag-va{background-position:-128px -224px;}
.flagset2.flag-vc{background-position:-144px -224px;}
.flagset2.flag-ve{background-position:-160px -224px;}
.flagset2.flag-vg{background-position:-176px -224px;}
.flagset2.flag-vi{background-position:-192px -224px;}
.flagset2.flag-vn{background-position:-208px -224px;}
.flagset2.flag-vu{background-position:-224px -224px;}
.flagset2.flag-wf{background-position:-240px -224px;}
.flagset2.flag-ws{background-position:0px -240px;}
.flagset2.flag-xk{background-position:-16px -240px;}
.flagset2.flag-ye{background-position:-32px -240px;}
.flagset2.flag-yt{background-position:-48px -240px;}
.flagset2.flag-za{background-position:-64px -240px;}
.flagset2.flag-zm{background-position:-80px -240px;}
.flagset2.flag-zw{background-position:-96px -240px;}
